#headPiece{
	margin-left: 100px;
	width: 860px;
	height: 150px;
	background-color: #DDDDDD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#bodyPiece{
	margin-left:  100px;
	margin-top: 15px;
	width: 860px;
	height: 450px;
	background-color:  #DDDDDD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#bottomPiece{
	margin-top: 15px;
	width: auto;
	height: 20px;
	background-color:  #DDDDDD;
}